{% extends 'employee/base.html.twig' %}{# links the base html #}
{% block body %}{# this is linked in base html and inherited by views #}

  <div class="well container-fluid">
    <div class="row">
      <div class="search row">
        {#<div class="col-sm-1">
          <button class="dateBackward pull-right"><</button>
        </div> #}
        <div class="col-sm-3">
          {{ form_start(form) }}
            {{ form_widget(form.timeIn,  {'id':'selectStartDate','attr':{'class': 'datepickerSearch select_date form-control select'}}) }}
        </div>
        <div class="col-sm-1">
            <Center><h5>to</h5></Center>
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.timeOut,  {'id':'selectEndDate','attr':{'class': 'datepickerSearch select_date form-control select'}}) }}

          {{ form_end(form) }}
        </div>
        {# <div class="col-sm-1">
          <button class="dateForward pull-left">></button>
        </div> #}
        <div class="pull-left col-sm-4">
            <button class="btn btn-xs btn-info" id="search">SEARCH</button>
            <a class="btn btn-xs btn-info"href="{{ path('attendance_records', { 'id': 'now'|date("Y-m-d") }) }}">TODAY</a>
           
        </div>      
        <div class="pull-right col-sm-1">
             <h5><a class="pull-right" data-toggle="modal" data-target="#modalBox"><span class="glyphicon glyphicon-plus-sign"></span>
              </a></h5>
        </div>        
      </div>
      <div class=" col-sm-12">
        {% if date != 'today' %}
        <div class="row dateNavigation">
          <div class="col-sm-4">
            {% set previous  = date|date_modify("-1 day")|date("Y-m-d") %}
            {% set next = date|date_modify("+1 day")|date("Y-m-d") %}
            <a class="btn btn-xl btn-primary"href="{{ path('attendance_records', { 'id': previous }) }}">
              <span class="glyphicon glyphicon-backward"></span> Prev
            </a>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-3">
            <b>{{ date }}</b>
            <b>{{ date|date('D') }}</b>
          </div>
          <div class="col-sm-4">
            {# {% if date <=  "now"|date('Y-m-d') %} #}
              <a class="pull-right btn btn-xl btn-primary"href="{{ path('attendance_records', { 'id': next }) }}">
              Next <span class="glyphicon glyphicon-forward"></span>
            </a>
            {# {% endif %} #}

          </div>
        </div>
        {% else %}
        <div class="row dateNavigation">
          <div class="col-sm-1">
          </div>
          <div class="pull-left col-sm-4">
            <b>{{ dateTo }}</b>
            <b>{{ dateTo|date('D') }}</b>
          </div>
          <div class="col-sm-2">
            to
          </div>
          <div class="pull-right col-sm-4">
            <b>{{ dateFrom }}</b>
            <b>{{ dateFrom|date('D') }}</b>
          </div>

          <div class="col-sm-1">
          </div>
        </div><hr/>
        {% endif %}
          <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-3">
              <b>Name
            </div>
            <div class="col-sm-3">
              Time-in
            </div>
            <div class="col-sm-3">
              Time-out</b>
            </div>
          </div>
        </div>
        {% if date !='all' %}
          {% for employeesRecords in employeesRecords %}
          <div class="row recordAttendance">
            <div class="text-right col-sm-1">

              <a href="{{ path('show_employee', { 'id': employeesRecords.valId }) }}">
                <b>{{ loop.index }}.)</b>
              </a>

            </div>
            <div class="col-sm-3">
              {% if date != 'all'%}
              <a data-toggle="modal" data-target="#modalBox{{ employeesRecords.valId }}">
                {{ employeesRecords.firstName }} {{ employeesRecords.lastName }}
              </a>

              <!-- Modal -->
              <div id="modalBox{{ employeesRecords.valId }}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        <div class="col-sm-7">
                          <b>{{ employeesRecords.firstName }} {{ employeesRecords.middleName }} {{ employeesRecords.lastName }}</b>
                        </div>
                        <div class="col-sm-4">
                          <small class="pull-right">
                            {{ employeesRecords.timeIn |date('Y-m-d H:i:s ') }} (IN)<br>
                            {{ employeesRecords.timeOut |date('Y-m-d H:i:s ') }} (OUT)
                          </small>
                        </div>
                      </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <label>Conatct Details</label><br/>
                        <div class="col-sm-6">
                          <b>Contact No#: </b>
                          {% if employeesRecords.contactDetails is empty %}
                            <i>~empty</i>
                          {% else %}  
                            {{ employeesRecords.contactDetails }}
                          {% endif %}
                        </div>
                        <div class="col-sm-6">
                          {% if employeesRecords.address is empty %}
                            <i>~empty</i>
                          {% else %}  
                            <b>Address: </b>{{ employeesRecords.address }}
                          {% endif %}
                        </div>
                      </div><hr/>
                      <div class="row">
                        <label>Emergency Contact</label><br/>
                        {% if employeesRecords.emergencyName is empty %}
                          <div class="col-sm-12">
                             <b>Name: </b><i>~empty</i>
                          </div>
                        {% else %}
                          <div class="col-sm-5">
                            <b>Name: </b>{{ employeesRecords.emergencyName }}
                          </div>
                          <div class="col-sm-3">
                            <b>Relation: </b>{{ employeesRecords.emergencyRelation }}
                          </div>
                          <div class="col-sm-4">
                            <b>Contact: </b> {{ employeesRecords.emergencyContact }}
                          </div>
                        {% endif %}
                        <br/>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Modal -->
          </div>
        {% endif %}
            <div class="datetime col-sm-3">
              <small>tI </small>{{ employeesRecords.timeIn |date('Y-m-d H:i:s ') }}
              {% if employeesRecords.timeIn |date('Y-m-d H:i:s') >  date|date('Y-m-d 08:15:00') %}
                  <small><i><b>(late)</b></i></small>
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if employeesRecords.timeOut is empty %}
                <small><u><i>
                  ~no time-out time~
                </i></u></small>
              {% else %}
                <small>tO </small>{{ employeesRecords.timeOut|date('Y-m-d H:i:s') }}
                {% if employeesRecords.timeOut |date('Y-m-d H:i:s') <  employeesRecords.timeOut|date('Y-m-d 17:00:00') %}
                  <small><i><b>(undertime)</b></i></small>{# 
                {% elseif employeesRecords.timeOut|date('Y-m-d H:i:s') > date|date('Y-m-d 17:15:00') %}
                  <small><i><b>(overtime)</b></i></small> #}
                {% else %}
                {% endif %}
              {% endif %}
            </div>
            <div class="col-sm-2">
              <div class="col-sm-12">
                <a href="{{ path('edit_employee_attendance', { 'id':employeesRecords.valId,'exId': employeesRecords.exId }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="#" class="delEntryButton" id="{{employeesRecords.exId}}"><span class="glyphicon glyphicon-trash"></span></a>

                <small>
                  {% if employeesRecords.numberOfEdits is defined %}
                     {{employeesRecords.numberOfEdits}}
                  {% else %}

                  {% endif %}
                </small>
              </div>
            </div>
          </div>
          {% else %}
            <div class="row">
              <div class="col-sm-12">
                {% if (date|date('N') == 6) or (date|date('N') == 7) %}
                  No results. (weekend).
                {% else %}
                  No results.
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <hr/>
    <div class="notes">
      <p>
        <i>
          <small>
            pass date through AJAX(get date), use twig modify date -1 / +1 next-prev
          </small>
        </i>
      </p>
      <p>
        <i>
          <small>
            if time in > date|date('Y-m-d 08:15:00') marked as late<br>
            if timeOut <  date|date('Y-m-d 17:00:00') marked as undertime<br>
            if timeOut >  date|date('Y-m-d 17:15:00') marked as overtime<br>
            if (date|date('N') == 6) or (date|date('N') == 7) mark no results weekend (sat=6,sun=7)
          </small>
        </i>
      </p>
    </div>
    <hr/>
  </div>

  <div id="modalBox" class="modal" tabindex="-1" role="dialog">
    <div style="width:70%;"class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Insert Attendance Record for</h4>
        </div>
        <div class="modal-body">
          {{ form_start(formInsert) }}
            <div class="col-sm-3">
              <label>Employee</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(formInsert.empId,  {'id':'insertEmpId','attr':{'class':'form-control btn btn-info dropdown-toggle'}}) }}
              </div>
            </div>
            <div class="col-sm-4">
              <label>Time In</label><div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                {{ form_widget(formInsert.timeIn,  {'id':'insertTimeIn','attr':{'class':'form-control datepicker',
                'readonly':true}}) }}
                
              </div>
            </div>
            <div class="col-sm-4">
              <label>Time Out</label><div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                {{ form_widget(formInsert.timeOut,  {'id':'insertTimeOut','attr':{'class':'form-control datepicker',
                'readonly':true}}) }}
              
              
              </div>
            </div>
          {{ form_end(formInsert) }}
          <br/>
          <br/>
          <br/>
          <br/>
        </div>

        <div class="modal-footer">
          <button type="button" id="insertRecord" class="insert_record btn btn-success">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $('.datepicker').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    showMeridian: 1,
    forceParse: 0,
    format: 'yyyy-mm-dd hh:ii:00'
  });
  $('.select_date').datetimepicker({
    eekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    format: 'yyyy-mm-dd'
      });
  $('#search').click(function() {

    var id= $('#selectStartDate').val();
    var id2= $('#selectEndDate').val();


      $.ajax({
        type: "GET",
        url: "{{ path('attendance_records_search', { 'id': 'id','id2': 'id2'  }) }}".replace('id', id).replace('id2', id2),
        success: function(){
          window.location.href = "{{ path('attendance_records_search', { 'id': 'id','id2': 'id2' }) }}".replace('id', id).replace('id2', id2);
        }
      });
  });
  $('#insertRecord').click(function() {
    var id = $('#insertEmpId').val();
    var tI = $('#insertTimeIn').val();
    var check = $('#insertTimeOut').val();
    if (check ==''){
      var tO = 'empty';
    }else{

      var tO = $('#insertTimeOut').val();
    }
    var res = tI.split(" ");

    if (tO == 'empty'){
      var r = confirm("You set time-out as empty, are you sure?");
      if (r == true) {
          $.ajax({
          type: "GET",
          url: "{{ path('admin_insert_attendance', { 'id': 'id','tI': 'tI','tO': 'tO'  }) }}".replace('id', id).replace('tI', tI).replace('tO', tO),
          success: function(){
            window.location.href = "{{ path('attendance_records', { 'id': 'tI' }) }}".replace('tI', res[0]);
          }
        });
      }
    }else{
      var r = confirm("save record?");
      if (r == true) {
          $.ajax({
          type: "GET",
          url: "{{ path('admin_insert_attendance', { 'id': 'id','tI': 'tI','tO': 'tO'  }) }}".replace('id', id).replace('tI', tI).replace('tO', tO),
          success: function(){
            window.location.href = "{{ path('attendance_records', { 'id': 'tI' }) }}".replace('tI', res[0]);
          }
        });
      }
    }
   
  });

  $(".delEntryButton").click(function(){
    //Save the link in a variable called element
    var element = $(this);
    //takes from id of button taken from for loop and puts it inside del_id
    var del_id = element.attr("id");
    //puts del_id value into info
    var info = del_id;
    if(confirm("Sure you want to delete entry?"))
              {
      $.ajax({
        type: "GET",
        url: "{{ path('delete_employee_attendance', { 'id': 'exId' }) }}".replace('exId', info), //
        success: function(){
        }
      });
      $(this).parents(".recordAttendance").animate({ backgroundColor: "#fbc7c7" }, "slow")
      .animate({ opacity: "hide" }, "fast");
     }
    return false;
  });

  </script>
  
{% endblock %}
