{% extends 'employee/base.html.twig' %}{# links the base html #}
{% block body %}{# this is linked in base html and inherited by views #}
<div class="well container-fluid">
  <div class="row">
    <br/>
    <br/>
    <br/>
  </div>
  <div class="row">
    <div class="employee col-sm12">
      {% for User in user %} {# this is a while loop #}
        {% if User.userId != 1 or User.userUserName != 'admin'%}
          <div class="record ">
            <div class="row">
              <div class="col-sm-2">Id:
                  {{ User.userId }}
              </div>
              <div class="col-sm-5">
                  {{ User.userUserName }} | {{ User.userEmail }}
              </div>
              <div class="col-sm-5">
                <div class="col-sm-4">
                  <a href="#"class='btn btn-success btn-block' >
                    <span class="glyphicon glyphicon-eye-open"></span><small> View</small>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a href="#" class='btn btn-info btn-block' >
                    <span class="glyphicon glyphicon-edit"></span><small> Edit</small>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a href="#" id="{{ User.userId }}" class='delbutton btn btn-block btn-danger' >
                    <span class="glyphicon glyphicon-trash"></span><small> Delete</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12">
        <div class="notes">
            <p><i><small>_database employeeManagement, table app_users</small></i></p><br/>
        </div>
    </div>
  </div>
  <hr/>
</div>
<script type="text/javascript">

$(function() {
  $(".delbutton").click(function(){
  //Save the link in a variable called element
  var element = $(this);
  //takes from id of button taken from for loop and puts it inside del_id
  var del_id = element.attr("id");
  //puts del_id value into info
  var info = del_id;
   if(confirm("Sure you want to delete this employee? (ID: "+info+")"))
            {
    $.ajax({
      type: "GET",
      url: "{{ path('user_delete', { 'id': 'delId' }) }}".replace('delId', info), //
      success: function(){
      }
    });
    $(this).parents(".record").animate({ backgroundColor: "#fbc7c7" }, "slow")
    .animate({ opacity: "hide" }, "fast");

   }

  return false;

  });
});


  

</script>
{% endblock %}
